* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../Image/photo-1697807650304-907257330a3e.avif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
nav {
    background-color: #fff;
    box-shadow: 2px 3px 5px rgba(red, green, blue, alpha);
    padding: 10px;
}
nav .large-nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
nav .large-nav l1:first-child{
    margin-right: auto;
}
nav .large-nav a:hover{
    background-color: #5f5c5c;
    text-decoration: underline;
}
.menu-btn{
    display: none;
}